.header-main{
    background-color: #282c34;
}
.header-main .app-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}
.header-main .app-header .App-logo{
    height: 5vmin;
}